// Place all the styles related to the Snacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.style_image {
  border-right: 1px solid #000;
}

.button.secondary-btn {
    background-color: rgb(110, 189, 255);
    color: rgb(255, 255, 255);
    outline: none;
    border-color: rgb(110, 189, 255);
    transition: all 0.5s;
}

.button.is-bold {
    font-weight: 600;
    border-width: 2px;
}

.button.button-cta {
    padding: 22px 40px !important;
}
