<div class="hero-body">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <figure class="">
                  <%= link_to image_tag("landing.svg") %>
                </figure>
            </div>
            <div class="column is-5 is-offset-1 is-hero-title">
                <h1 class="title is-1 is-bigger">
                    Shared Marketplace
                </h1>
                <h2 class="subtitle is-4">
                    Work with people differently.
                </h2>
                <h3>The Gig economy is growing. We're here to support that. At GigHelp, we match the jobs your best at or what you need the most.</h3>
                <br>
                <p class="">
                    <a href="#" class="button button-cta is-bold btn-align secondary-btn raised">
                        Get Started
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
